
.container-fluid {
  background-color: #FEEBD2;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #FEEBD1;
  }
  .logo{
      width: 300px;
      height: 100px;
  }
  .topnav {
    position: relative;
    overflow: hidden;
    background-color: #759886;
  }
  .topnav img {
    float: left;
  }
  .topnav h1{
    text-align: center;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .topnav a:hover {
    background-color: #C2E5D3;
    color: black;
  }
  
  .topnav a.active {
    background-color: #E0954E;
    color: white;
  }
  .child {
    display: flex;
    justify-content: center;
  }

  .column {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 25%;
    background-color: antiquewhite;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
    padding: 2px 16px;
  }

  img {
    width: 150px;
    border-radius: 5px 5px 0 0;
  }
  .column {
    float: left;
    width: 33.33%;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
